<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105459367595-ekv4grg1pbq4qktv6sbg14qi1s8i6sor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105459367595-ekv4grg1pbq4qktv6sbg14qi1s8i6sor</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105459367595-6lln1stumeu7ir14frnsnplnofh137iv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGP8-rQl_9y9yNnHGAzaWz1wTP3izwtHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>105459367595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onfoothunta.app</string>
	<key>PROJECT_ID</key>
	<string>onfoothunta</string>
	<key>STORAGE_BUCKET</key>
	<string>onfoothunta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105459367595:ios:5f97a420fe6ec62ce981ee</string>
</dict>
</plist>
